asn1crypto==0.24.0
astroid==1.6.6
backports.functools-lru-cache==1.5
BeautifulSoup==3.2.1
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
configparser==4.0.2
cryptography==2.3
cssselect==1.1.0
dblatex==0.3.10
enum34==1.1.6
futures==3.3.0
html5lib==1.0.1
idna==2.8
ipaddress==1.0.17
isort==4.3.21
keyring==10.6.0
keyrings.alt==3.0
lazy-object-proxy==1.4.2
lxml==4.4.1
mccabe==0.6.1
py==1.5.2
pycrypto==2.6.1
pygobject==3.26.1
pylint==1.9.5
pymongo==3.9.0
pyquery==1.4.0
python-apt==1.6.4
pyxdg==0.25
requests==2.22.0
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.9.4
urllib3==1.25.6
virtualenv==16.7.6
webencodings==0.5.1
wrapt==1.11.2
